{% extends 'polls/index.html' %}


{% block user %} {{username}} {% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/sidebard.css' %}">
<div class="container">
    <div class="row">
        {% if links %}
        <div class="col-md-3">
            {% comment %} Tarjeta {% endcomment %}
        </div>
        {% else %}
        <div class="col-md-5 mx-auto mt-5">
            <div class="text-center">
                {% load static %}
                <div class="img m-2">
                    <img src="{% static "img/broken-link.svg" %}" alt="Avatar" width="150">
                </div>

                <h3>Aún no existen Links agregados </h3>
                <a href="/createLink">
                    <button class="btn  btn-primary m-2" >Agregar link</button>
                </a>
                
            </div>
        </div>
        {% endif%}

    </div>
</div>




{% endblock %}