{% extends 'polls/index.html' %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}">
    <div class="container ">
        <div class="row align-items-center">
            <div class="col">
                <div class="card m-5 p-1 shadow  mx-auto " style="width: 20rem;">
                    <div class="card-body">
                        <div class="text-center mb-4">
                            {% load static %}
                            <img src="{% static "img/avatar.svg" %}" alt="Avatar" width="100">
                            <h5 class="card-title">Bienvenidos</h5>
                        </div>
                        <form action="{% url 'polls:addUser' %}" method="post">
                            {% csrf_token %}
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">@</span>
                                </div>
                                <input type="text" class="form-control" placeholder="Username" name="username"
                                    id="username" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Ingresar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>    
    </div>
{% endblock %}