<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Links App</title>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
</head>
<body>
    {% if username%}
        <nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary  shadow">
    <a class="navbar-brand" href="#">Links App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Agregar links <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#"> {% block user %}Username{% endblock %} <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <div class="form-inline my-2 my-lg-0">
            <a href="/logout">
            <button class="btn btn-outline-light my-2 my-sm-0">Cerrar sesión </button>
            </a>
        </div>
    </div>
</nav>
    {%endif%}
    {% block content %}
    {% endblock %}

    {% bootstrap_javascript jquery='full' %}
</body>

</html>